/*nav link CSS*/
.nav-color {
  background-color: #ffffff;
}

.nav-link {
  color: black;
  font-weight: normal;
  transition: transform ease 300ms;
}

.nav-link:hover {
  transform: translate(0, -10px);
  text-decoration: underline;
  font-weight: bold;
}

.navbar-brand {
  border: none;
  text-decoration: none;
  max-width: 80px;
  padding-top: 10px;
  margin-left: 10px;
}
nav li {
  display: inline;
  line-height: 50px;
  font-size: 25px;
  font-weight: 490;
  margin-left: 10px;
}

nav {
  padding: 20px;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #1f1c29;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.5;
  text-align: left;
  margin-top: 20px;
}

/*Home*/

.home-wrapper {
  background-color: white;
  width: 70%;
  font-size: 18px;
  text-align: justify;
  line-height: 2;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin-top: 40px;
}

/*Image and Text HomePage*/

.slogan {
}

.home {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  text-align: left;
  line-height: 1.5;
}

.image {
  display: block;
  width: 100%;
  max-height: 500px;
  opacity: 0.7;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: white;
  overflow: auto;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.second-title {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  white-space: nowrap;
  color: black;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*About me*/

.first-part {
  border: 15px solid;
  border-color: hsl(147, 21%, 79%);
}

.about-wrapper {
  height: fit-content;
  margin-left: 20px;
  width: 100%;
}

.about ul {
  line-height: 2;
}

.about-title {
  margin-top: 80px;
  margin-bottom: 20px;
}

.about {
  color: black;
  line-height: 2;
  background-color: #bfd5c9;
  height: 580px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-size: 60px;
  font-family: "Koulen", sans-serif;
}

.picture {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 150px;
  border-radius: 5px;
  height: 190px;
}

/*Skills*/

.skills-wrapper {
  background: #fdfdfd;
  height: fit-content;
  margin-top: 20px;
  padding-top: 20px;
}

.skills li {
  font-size: 20px;
  color: black;
}

.skills-title {
  font-weight: bold;
  font-size: 22px;
  color: black;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 30px;
}

.sub-title {
  font-weight: bold;
  font-size: 22px;
  color: black;
  margin-top: 70px;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

/*Footer*/

.special-links {
  display: inline;
  display: flex;
  justify-content: right;
  position: relative;
  top: 10px;
  margin-right: 150px;
}

.special-links a:hover {
  background-color: white;
  color: black;
}

.fa-brands.fa-linkedin-in {
  font-size: 28px;
  color: black;
  margin: 10px 20px;
  border-radius: 50%;
  background-color: white;
  padding: 10px 10px;
}

.fa-regular.fa-envelope {
  font-size: 28px;
  color: black;
  margin: 10px 20px;
  border-radius: 50%;
  background-color: white;
  padding: 10px 10px;
}

.fa-brands.fa-github {
  font-size: 28px;
  color: black;
  margin: 10px 20px;
  border-radius: 50%;
  background-color: white;
  padding: 10px 10px;
}

.footer {
  text-align: center;
  color: black;
  position: relative;
  top: 25px;
  left: 20px;
}

.footer-border {
  background-color: #28282b;
  height: 360px;
  margin: 0;
  padding: 0;
}

.fas.fa-map-marker-alt {
  color: #dbd8e3;
  font-size: 25px;
}

.single-hr {
  margin-top: 20px;
  margin-left: 150px;
  padding: 0;
}

.container-footer {
  position: relative;
  width: 80%;
  margin: 0;
  padding: 0;
}

.footer-contact {
  width: 300px;
  margin-left: 150px;
  color: #dbd8e3;
  opacity: 0.6;
  font-size: 20px;
}

h6 {
  font-weight: bold;
}

.contact-me {
  color: #dbd8e3;
  opacity: 0.6;
  font-size: 25px;
}

.footer-logo {
  border: none;
  text-decoration: none;
  max-width: 100px;
  padding-top: 40px;
  margin-left: 60px;
  display: block;
  margin-bottom: 30px;
}

.brand-title {
  color: #dbd8e3;
  opacity: 0.6;
}

.format-contact {
  margin-left: 70px;
}

.new-contact {
  color: #dbd8e3;
  opacity: 0.6;
}

.form:focus {
  border-color: black;
  box-shadow: 0 0 0 0.2rem black;
}

/*Images Scroll - Projects*/

.scroll-container {
  background: #fbff7d;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.scroll-container img {
  padding: 10px;
}

.adapt-image {
  width: 230px;
}

.scroll-image {
  width: 400px;
}

.br {
  display: block;
  margin-top: 100px;
  line-height: 150%;
}

h3 {
  color: black;
  background-color: white;
  text-align: center;
  font-size: 60px;
  font-family: "Koulen", sans-serif;
}

/*- Projects*/

.portfolio-title {
  color: black;
  background-color: white;
  text-align: center;
  font-size: 60px;
}

.design-title {
  text-align: center;
  font-size: 24px;
}

p {
  color: #514644;
  font-size: 20px;
  text-align: justify;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: #142d4c;
}

.web-apps a {
  font-size: 23px;
  border: 1px solid;
  border-radius: 20px;
  width: 180px;
  display: flex;
  justify-content: space-around;
  color: white;
  line-height: 2;
  height: 50px;
  background: #b3b3b7;
  margin-top: 10px;
  border: none;
  border-color: #333;
  text-decoration: none;
}

.web-apps a:hover {
  color: white;
  background: #2bd0d1;
}
.web-apps {
  display: grid;
  justify-content: center;
  padding-bottom: 20px;
}

.format-image {
  width: 260px;
  margin-left: 180px;
}

.context {
  text-align: justify;
}
.element {
  font-weight: bold;
  font-size: 20px;
}

.fa-solid.fa-book-open,
.fa-solid.fa-music,
.fa-solid.fa-person-swimming,
.fa-solid.fa-person-running {
  font-size: 25px;
  margin-right: 20px;
  margin-left: 10px;
}

.fa-brands.fa-html5,
.fa-brands.fa-css3-alt,
.fa-brands.fa-js,
.fa-brands.fa-react {
  font-size: 35px;
  margin-right: 20px;
  margin-left: 10px;
  color: #0f4c81;
}

.project-description {
  color: black;
  width: fit-content;
  line-height: 2;

  font-size: 18px;
}

.build {
  color: black;
  width: fit-content;
  line-height: 1.8;

  font-size: 18px;
}

.img-format {
  width: 100px;
  height: 10px;
}

.portfolio-title {
  font-family: "Koulen", sans-serif;
  font-size: 80px;
}

/* Get in touch*/
.contact-title {
  text-align: center;
}

.get-title {
  text-align: center;
  font-size: 24px;
}

.input-text {
  width: 70%;
  height: 40px;
  border: none;
  margin: 5% 15%;
  background-color: white;

  border-radius: 10px;
  padding: 20px 20px;
  color: black;
}

.input-message {
  width: 70%;
  height: 100px;
  border: none;
  margin: 5% 15%;
  background-color: white;

  border-radius: 10px;
  padding: 20px 20px;
  color: black;
}

.submit-btn {
  width: 20%;
  display: block;
  margin: 0 auto;
  height: 40px;
  border-bottom: 1px solid;
  border-color: #2bd0d1;
  background-color: #2bd0d1;
  margin: 5% 15%;
  color: white;
  border-radius: 10px;
  padding: 10px auto;
  position: absolute;
  top: 660px;
  left: 500px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.submit-btn:hover {
  background-color: #a7dbd7;
  color: black;
  border: none;
}

.form-wrapper {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 30%;
  transition: translate(-50%, -50%);
  width: 40%;
  padding: 20px 10px;
  margin-top: 10px;
  background: #fbff7d;
  background-size: cover;
  border-radius: 10%;
}

.contact-wrapper {
  padding-top: 20px;
  background: url("images/bubble.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
}

.github {
  color: black;
}

.github:hover {
  text-decoration: underline;
}

/* Smallest screens */
@media (max-width: 576px) {
  /* NavbarBrand */
  .navbar-brand {
    width: 55px;
  }

  /* Home */

  .overlay {
    display: none;
  }

  .home-wrapper {
    display: none;
  }

  h1 {
    font-size: 18px;
    margin-left: -24px;
  }

  .slogan {
    position: relative;
    top: -230px;
    line-height: 2;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  .image {
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 30px;
  }

  /* About */
  .about-wrapper {
    margin-top: 20px;
    height: fit-content;

    width: 80%;
    position: relative;
    left: 25px;
    top: 0;
  }

  .about-title {
    display: flex;
    justify-content: center;
    margin-top: -150px;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  first-part {
    height: fit-content;
    margin-left: 30px;
    width: 85%;
  }
  .about {
    margin-left: -12px;
    width: 107%;
    height: fit-content;
    font-size: 16px;
  }

  .picture {
    margin-top: 30px;
    margin-bottom: 20px;

    border-radius: 5px;
    height: 190px;
  }
  .footer-logo {
    max-width: 60px;
  }

  .brand-title,
  .footer-contact,
  .new-contact,
  .contact-me {
    font-size: 14px;
  }

  /* Skills */

  .skills-wrapper {
    height: fit-content;
    margin-left: 5px;
    margin-bottom: 30px;
  }

  .skills-wrapper li {
    font-size: 16px;
  }

  .skills-title {
    font-display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .sub-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .brr {
    display: block;
    margin-top: 30px;
  }

  /* footer */

  .footer-border {
    height: 1100px;
    width: 120%;
  }

  .brand-title {
    margin-left: 10px;
  }

  .special-links {
    font-size: 2px;
    position: relative;
    top: 10px;
    margin-left: 20px;
  }

  .footer-contact {
    display: block;
    margin: 0 auto;
    margin-left: 20px;
  }

  .format-contact {
    margin-left: 20px;
  }

  .single-hr {
    margin-top: 80px;
    margin-left: 30px;
  }

  .contact-me {
    font-size: 20px;
  }

  .footer-border {
    height: fit-content;
    padding-bottom: 30px;
  }

  /* projects */
  .portfolio-title {
    font-size: 40px;
  }

  .design-title {
    text-align: center;
    font-size: 15px;
  }

  .web-apps {
    display: grid;
    justify-content: center;
    padding-bottom: 20px;
  }

  .web-apps a {
    font-size: 20px;
    width: 100px;
    height: 45px;
    text-align: center;
  }

  .format-image {
    display: block;
    margin: 0 auto;
    width: 200px;
  }

  .project-description {
    line-height: normal;
    font-size: 15px;
    text-align: justify;
    word-spacing: normal;
  }

  .build {
    line-height: normal;
    font-size: 15px;
    text-align: justify;
    word-spacing: normal;
  }

  .context {
    margin-left: -25px;
  }

  ul {
    margin: 0;
  }
  li {
    margin: 0;
  }

  /* Get in touch */
  h3 {
    font-size: 40px;
  }

  .get-title {
    font-size: 15px;
  }

  .submit-btn {
    margin: 5% 15%;
    color: white;
    border-radius: 10px;
    padding: 10px auto;
    position: relative;
    top: -40px;
    left: 100px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70%;
  }

  .form-wrapper {
    position: relative;
    top: -60px;
    left: -22px;
    transition: translate(-50%, -50%);
    width: 108%;
    padding: 20px 10px;
    margin-top: 20px;
  }

  .contact-wrapper {
    padding-left: 20px;
  }

  .footer {
    text-align: center;
    color: black;
    position: relative;
    top: -110px;
    left: 20px;
    width: 90%;
    font-size: 13px;
  }
}
