.nav-wrapper {
  background: #efc8b1;
}

h1 {
  color: #514644;
  font-family: "Delius", cursive;
  text-align: center;
  font-size: 50px;
  font-weight: 490;
}

h2 {
  color: #514644;
}
nav ul {
  margin: 0;
  padding: 0;
  color: white;
}

nav li {
  display: inline;
  line-height: 50px;
  font-size: 25px;
  font-weight: 490;
  margin-left: 10px;
  color: white;
}
nav {
  padding: 20px;
}
nav a {
  text-decoration: none;
  color: #514644;
  font-weight: 500;
  font-size: 35px;
}

nav a:hover {
  text-decoration: underline;
}
p {
  color: #514644;
  font-size: 20px;
  text-align: justify;
  margin: 20px auto;
}

.contact {
  color: #514644;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.email {
  color: #514644;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.fa-brands.fa-linkedin-in {
  font-size: 40px;
  color: #514644;
  background-color: white;
  margin: 10px auto;
}

a {
  text-decoration: none;
  color: #142d4c;
}

.special-links {
  display: inline-block;
  display: flex;
  align-items: center;

  padding-right: 300px;
  padding-left: 300px;
}

.special-links a:hover {
  text-decoration: underline;
}

.work-wrapper,
.contact-wrapper,
.about-wrapper {
  background: #efc8b1;
}

.about-app {
  padding: 20px;
  margin: 30px auto;
  border: 1px solid;
  border-radius: 20px;
  display: block;
  background-color: white;
  max-width: 90%;
  max-height: 500px;
}

.web-apps a {
  font-size: 23px;
  border: 1px solid;
  border-radius: 20px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  color: #514644;
  line-height: 2;
  height: 50px;
  background: #efc8b1;
  margin-top: 10px;
  border: none;
}

.web-apps {
  display: grid;
  justify-content: center;
  padding-bottom: 20px;
}

.element {
  font-weight: bold;
  font-size: 25px;
}

.question {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.main-wrapper {
  width: 1400px;
  margin-bottom: 20px;
  border: 1px none;
  margin-top: 80px;
}

.footer {
  text-align: center;
  color: #514644;
}

.picture {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
}

.github {
  color: #514644;
}

.github:hover {
  text-decoration: underline;
}

.back-btn {
  color: #514644;
}

.back-btn:hover {
  font-weight: bold;
}

.app-title {
  color: #514644;
}

.special-title {
  text-align: center;
  color: #514644;
}
